@model PTPTestPortal.Models.NEWs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NEWs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.webSectionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.webSectionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.featuredCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.featuredCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.newsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.newsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isGlobal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isGlobal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NewsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
